<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Melbourne_reg.otf</string>
		<string>Decker.ttf</string>
		<string>Oswald.otf</string>
		<string>CODE_Bold.otf</string>
		<string>BebasNeue.otf</string>
		<string>padalomai.ttf</string>
		<string>Comfortaa_Regular.ttf</string>
		<string>mabella.ttf</string>
		<string>Lobster_1_4.otf</string>
		<string>ROLLER.ttf</string>
		<string>wayoshi.ttf</string>
		<string>Clubland.ttf</string>
		<string>minecraft.ttf</string>
		<string>depraved.ttf</string>
		<string>Disko.ttf</string>
		<string>akka.ttf</string>
		<string>Coalition_v2_.ttf</string>
		<string>bifurk.ttf</string>
		<string>NEWTOW__.ttf</string>
		<string>revenue.ttf</string>
		<string>VAL_Stencil.otf</string>
		<string>telegrafico.ttf</string>
		<string>Vivian.ttf</string>
		<string>minus.ttf</string>
		<string>SilkRoad.ttf</string>
		<string>dubbel.ttf</string>
		<string>romeral.otf</string>
		<string>Chunkfive.otf</string>
		<string>NIRVANA.ttf</string>
		<string>UKIJJunu.ttf</string>
		<string>whoa_.ttf</string>
		<string>Damion.ttf</string>
		<string>TRASHED.ttf</string>
		<string>RIOT.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
